body {
  padding: 20px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

section {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

span {
  padding: 0 3px 2px 3px;
  background: #D3D3D3;
}
span:hover {
  color: red;
}

div .listRight {
	float: left;
	display: inline;
}
div .resetRight {
	float:right;
	display: inline;
}
.arrList ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.arrList li {
  margin-bottom: 5px;
}

.arrList a {
  display: inline-block;
  margin-top: 20px;
}